.body{
    background-color: #D4F4CD;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

.title{
    text-align: center;
    background-color: #D4F4CD;
}

nav{
    background-color: 	#e4f8f0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
    margin-bottom: 50px;
}

ul {
    margin: 0;
    padding:0;
}
 
li {
    list-style: none; 
    margin: 10px;
    display: inline;
}
li a {
    padding: 15px 25px; 
    margin:0;
    border: 0px solid #f00; 
    background: #7cb27d;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
li a:hover {
    background: #bbe1ea;
    color: #000; 
    border-color: #000;
}

form {
    display: flex;
    text-align: left;
    width: 600px;
}

footer {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#container{
    margin: 0 auto;
    padding: 0 100px;
    padding-bottom: 50px;
}

a{
    text-decoration: none;
}

table {    
    position: static;
      border: 2px solid rgb(253, 246, 246);  
      border-collapse: collapse;
      width: 100%;
  }

tr th, tr td {
      padding: 20px;
      border: 2px solid rgb(253, 246, 246);
      text-align: left;
      width: 20%;
  }

  .th{
        padding: 20px;
        width: 4%;
        text-align: left;
  }

  
footer{
    background-color: #bbe1ea;
    margin-top: 70px;
    padding-top: 20px;
    text-align: center;
    height: 200px;
}

h5{
    padding-bottom: 30px;
}

.footer-ul {
    margin: 0;
    padding:0;
    display: inline;
}

.footer-li {
    list-style: none; 
    margin: 10px;
    display: inline;
}

.footer-li a {
    border: 0px solid #f00; 
    background: #7cb27d;
    text-decoration: none;
    color:#FFF;
    /* cantos arredondados */
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
/* MUDA O FUNDO QUANDO O MOUSE PASSA */
.footer-li a:hover {
    background: #d2f4e6;
    color: #000; 
    border-color: #000;
}

.icons-btn{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
}